*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.master-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: .05fr 95fr;
      grid-template-rows: .05fr 95fr;
      grid-template-areas: "header" "body";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: #fff;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: body;
}

.login {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(26, 161, 179, 0.8)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(26, 161, 179, 0.8));
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.register {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(26, 161, 179, 0.8)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(26, 161, 179, 0.8));
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #faf9f9;
  padding: 1.5rem;
}

.nav__logo {
  color: #1aa1b3;
  font-size: 3rem;
  font-weight: 300;
  text-decoration: none;
  margin-right: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.nav__list a {
  text-decoration: none;
  text-transform: uppercase;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-left: 1.5rem;
  color: #1aa1b3;
  background-color: #faf9f9;
}

.nav__list a:hover {
  color: #20c9df;
}

.footer {
  margin: 0 -1rem;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 1rem;
  justify-self: flex-end;
  margin-top: auto;
}

.footer .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5rem;
}

.footer .about-me a {
  padding: 0 1.5rem;
}

.footer .about-me__icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

.footer .about-me__icon:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  fill: #eb2f64;
}

.user-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(26, 161, 179, 0.8)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(26, 161, 179, 0.8));
}

.user-details__name {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 2rem 1rem;
  letter-spacing: .5rem;
  color: white;
}

.user-details__company {
  text-align: center;
  text-transform: capitalize;
  color: #0d5b73;
  color: white;
}

.user-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 50%;
  height: 100%;
}

.user-projects__area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 3rem 2rem 3rem;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
  background-color: white;
}

.user-projects__area--title {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #074a5f;
}

.user-projects__area--title h2 {
  margin-right: auto;
}

.user-projects p {
  font-weight: 500;
  color: #0d5b73;
  margin-bottom: 1.5rem;
}

.project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 1px solid #0d5b73;
  border-radius: 5px;
  margin-bottom: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-details__title {
  font-weight: 500;
  text-decoration: none;
  color: #1aa1b3;
  margin-right: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.project-details__title:hover {
  color: #0d5b73;
}

.mobile-menu {
  display: none;
}

.sidebar {
  background-color: #394e60;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: .5rem;
}

.side-nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #1aa1b3;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(0, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(0, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(0, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(0, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.side-nav__item:hover::before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: #1aa1b3;
}

.side-nav__link:link, .side-nav__link:visited {
  color: #faf9f9;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}

.side-nav button {
  margin: auto 2rem 2rem;
}

.project-title {
  font-weight: 700;
  height: 7%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2rem;
  margin: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f0eeee;
  color: #0d5b73;
}

.project-title #project-id {
  display: none;
}

.project-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem;
  height: 77vh;
}

.general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general__col--1 {
  width: 75%;
  margin-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.general__col--2 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.general__card {
  margin-bottom: 2rem;
  border: 1px solid #074a5f;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.general__heading {
  color: #fff;
  background-color: #0d5b73;
  padding: 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 400;
  border-bottom: 3px solid #1aa1b3;
}

.general__content {
  padding: 1.5rem;
}

.general__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.general__weather h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.general__weather svg {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: .3rem;
  fill: #0d5b73;
}

.general__weather--description {
  text-transform: uppercase;
  color: #0d5b73;
  margin-bottom: 2rem;
}

.general__weather table,
.general__weather tr,
.general__weather td {
  padding: .3rem 1rem;
  color: #0b1320;
  background-color: #faf9f9;
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 1.3rem;
  font-weight: 500;
}

.general__weather--td {
  text-align: center;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  margin: 0 2rem;
  padding: 1.5rem;
  padding-right: 0;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.section__records {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  margin-bottom: 2rem;
  padding-right: 1.5rem;
}

.section__new-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: auto;
  margin-right: 1.5rem;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
  overflow-y: auto;
  font-family: inherit;
}

.details__title {
  color: #074a5f;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid #074a5f;
  text-transform: capitalize;
  text-align: center;
}

.details__metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.details__data {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  overflow-y: auto;
}

.details__table {
  margin-bottom: 1rem;
}

.details__table tr,
.details__table td {
  padding: .3rem;
  background-color: #faf9f9;
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 1.3rem;
}

.details__table td:nth-child(1) {
  width: 20%;
}

.details__subheading {
  margin-bottom: .3rem;
}

.details__field-name {
  color: #0d5b73;
}

.details__file-name {
  color: #1aa1b3;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 1rem;
}

.details__file-name:hover {
  color: #074a5f;
}

.details-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #0d5b73;
}

.demo-text-records {
  font-size: 1.3rem;
  text-align: center;
  color: red;
  padding-bottom: 1rem;
}

#demo-text-records {
  font-size: 1.3rem;
  text-align: center;
  color: red;
}

.record {
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #394e60;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.record:hover {
  border: 3px solid #eb2f64;
  padding: .8rem;
}

.record__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: .5rem;
  border-bottom: 1px solid #0d5b73;
  margin-bottom: .5rem;
}

.record__heading h4 {
  color: #074a5f;
  text-transform: capitalize;
  font-weight: 500;
  margin-right: auto;
}

.record__heading h4:hover {
  cursor: pointer;
  color: #000;
}

.record__summary {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record__summary--data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record__summary--data:not(:last-of-type) {
  padding-right: 1rem;
  border-right: 1px solid #0d5b73;
}

.record__summary--data:not(:first-of-type) {
  padding-left: 1rem;
}

.record__summary--data span {
  font-weight: 500;
  text-transform: uppercase;
  color: #1aa1b3;
  margin-right: .5rem;
}

.selected {
  border: 3px solid #eb2f64;
  padding: .8rem;
}

.admin-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.admin-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  padding: 2.4rem;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.form {
  font-family: 'Robot', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.4rem;
  padding-right: 0;
}

.form__title {
  color: #074a5f;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.6rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid #074a5f;
  margin-right: 2.4rem;
  padding-bottom: 1rem;
}

.form__main-content {
  height: 70vh;
  overflow-y: auto;
  padding-right: 2.4rem;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 .5rem 1.4rem;
}

.form__item--15 {
  width: 15%;
}

.form__item--25 {
  width: 25%;
}

.form__item--50 {
  width: 50%;
}

.form__item--75 {
  width: 75%;
}

.form__item--85 {
  width: 85%;
}

.form__item--100 {
  width: 100%;
}

.form__label {
  color: #074a5f;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: .8rem;
}

.form__help-text {
  font: inherit;
  font-size: 1.4rem;
  color: #f50000;
  margin-top: 1rem;
}

.form__error {
  font-size: 1.2rem;
  color: #f50000;
}

.form__entry-validation {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  text-align: center;
  color: #f50000;
}

.form__required {
  color: #f50000;
}

.form__field, .form__textarea {
  background-color: #fff;
  padding: .5em;
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  border: 1px solid #aaa;
  border-radius: .2em;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.form__field:focus, .form__textarea:focus {
  background-color: #fff;
  border: 1px solid #1aa1b3;
  -webkit-box-shadow: 0 0 5px 0 #1aa1b3;
          box-shadow: 0 0 5px 0 #1aa1b3;
}

.form__textarea {
  height: 15rem;
  resize: vertical;
  min-height: 75px;
  max-height: 200px;
}

.button {
  font-size: inherit;
  font-family: 'Roboto', sans-serif;
  padding: .6rem 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-primary {
  color: #fff;
  background-color: #0d5b73;
  border: 2px solid #0d5b73;
}

.btn-primary:hover, .btn-primary:focus {
  color: #394e60;
  background-color: #fff;
}

.btn-primary-clear {
  color: #394e60;
  background-color: #fff;
  border: 2px solid #0d5b73;
  margin-left: 1rem;
}

.btn-primary-clear:hover, .btn-primary-clear:focus {
  color: #fff;
  background-color: #0d5b73;
}

.btn-secondary {
  color: #fff;
  background-color: #ff3366;
}

.btn-secondary:hover {
  background-color: #ba265d;
}

.btn-tertiary-clear {
  color: #394e60;
  background-color: #fff;
}

.btn-tertiary-clear:hover, .btn-tertiary-clear:focus {
  color: #fff;
  background-color: #394e60;
}

.button:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.button:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.icon:hover {
  cursor: pointer;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.icon:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.icon-edit {
  fill: #0d5b73;
}

.icon-delete {
  fill: #c81515;
  margin-right: 1.5rem;
}

/* #################### MODAL ####################  */
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(57, 78, 96, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 250ms opacity ease-in;
  transition: 250ms opacity ease-in;
}

.modal__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  background-color: white;
  max-width: 60%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
  border-radius: 1rem;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
  gap: .5rem;
  padding-top: 1.5rem;
  border-top: 2px solid #074a5f;
  margin-right: 2.4rem;
}

.modal-visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}

.is-hidden {
  display: none;
}

.landing__heading {
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Merriweather', serif;
  letter-spacing: 2.5rem;
  text-align: center;
  margin-right: -2rem;
  margin-top: 15rem;
}

.landing__subheading {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 1rem;
  border-top: 1.5px solid #fff;
}

.landing__description {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.landing__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.landing__buttons a {
  margin-right: 2rem;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
  margin-right: 3rem;
  fill: #fff;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "g0 g1 g1 g1 g1 g2 g2" "g0 g1 g1 g1 g1 g2 g2" "g0 g3 g3 g4 g4 g2 g2" "g0 g3 g3 g5 g5 g5 g5";
  grid-gap: .5rem;
}

.g0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  padding-bottom: 1rem;
  color: #fff;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: g0;
  background-size: cover;
  background-position: center;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(7, 74, 95, 0.8)), to(rgba(26, 161, 179, 0.8)));
  background-image: linear-gradient(to right, rgba(7, 74, 95, 0.8), rgba(26, 161, 179, 0.8));
}

.g1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: g1;
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1621606016243-f7b15bd78e76?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z29sZGVuJTIwZ2F0ZSUyMGJyaWRnZSUyMGNvbnN0cnVjdGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1800&q=60);
}

.g2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: g2;
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1536895058696-a69b1c7ba34f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29uc3RydWN0aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1800&q=60);
}

.g3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: g3;
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1575971637203-d6255d9947a9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODl8fGNvbnN0cnVjdGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
}

.g4 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: g4;
  background-size: cover;
  background-position: center;
  background-image: url(https://images.unsplash.com/photo-1523660778745-247ed0bcce31?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTM2fHxjb25zdHJ1Y3Rpb258ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1800&q=60);
}

.g5 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-area: g5;
  background-size: cover;
  background-position: top;
  background-image: url(https://images.unsplash.com/photo-1610551675799-50d4d0fe0252?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29uc3RydWN0aW9ufGVufDB8MnwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
}

.file-name {
  font-weight: bold;
  color: black;
}

.error {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(7, 74, 95, 0.8)), to(rgba(26, 161, 179, 0.8))), url(https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c2FkJTIwcHVwcHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-image: linear-gradient(to right, rgba(7, 74, 95, 0.8), rgba(26, 161, 179, 0.8)), url(https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c2FkJTIwcHVwcHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
  background-size: cover;
  background-position: center;
}

.error__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  padding: 5rem;
  color: white;
}

.error h1 {
  font-size: 10rem;
  letter-spacing: 1rem;
}

.error p {
  font-size: 3rem;
  letter-spacing: 1rem;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1.3rem;
  }
  .nav {
    padding: 1.2rem 1.8rem;
  }
  .nav__list {
    font-size: 1.5rem;
  }
  .grid-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .g1,
  .g2,
  .g3,
  .g4,
  .g5 {
    display: none;
  }
  .landing__heading {
    margin-top: 0;
  }
  .login {
    padding: 4rem;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .register {
    padding: 4rem;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .admin-form {
    width: 100%;
  }
  .modal__container {
    max-width: 90%;
    max-height: 40vh;
    overflow-y: auto;
  }
  .form__main-content {
    overflow-y: auto;
    padding-right: 2.4rem;
  }
  .user-details__name {
    font-size: 2rem;
    padding: 2rem 2rem 1rem;
  }
  .user-details__company {
    letter-spacing: .1rem;
  }
  .user-projects {
    height: initial;
  }
  .project-title {
    letter-spacing: none;
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .project-dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    height: 100%;
  }
  .sidebar {
    display: none;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #394e60;
  }
  .side-nav {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
  .side-nav__icon {
    margin-right: 0rem;
  }
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-right: 0;
    width: 100%;
    margin: 2rem;
    padding: 1rem;
    height: 50vh;
  }
  .section__records {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto;
    margin-bottom: 2rem;
    padding-right: 0;
  }
  .section__new-record {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 -1rem;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: rgba(26, 161, 179, 0.6);
    padding: 1rem;
    margin-top: auto;
  }
  .modal__container {
    width: 90%;
  }
  .details {
    display: none;
  }
  .general {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .general__col--1 {
    width: 100%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .general__col--2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .error__message {
    padding-top: 10rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .error h1 {
    font-size: 5rem;
    letter-spacing: .5rem;
  }
  .error p {
    font-size: 1.5rem;
    letter-spacing: .5rem;
  }
}
/*# sourceMappingURL=styles.css.map */