*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 100vh;
  background-color: #fff;
}

.login {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(25, 159, 177, 0.8)), to(rgba(57, 77, 95, 0.8))), url(https://images.unsplash.com/photo-1507099985932-87a4520ed1d5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdGl2aXR5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-image: linear-gradient(to right bottom, rgba(25, 159, 177, 0.8), rgba(57, 77, 95, 0.8)), url(https://images.unsplash.com/photo-1507099985932-87a4520ed1d5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZHVjdGl2aXR5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #faf9f9;
  position: relative;
}

.navbar__logo {
  color: #199fb1;
  font-size: 3rem;
  font-weight: 300;
  text-decoration: none;
  margin-right: auto;
  padding: 1.5rem;
}

.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  text-transform: uppercase;
  text-decoration: none;
  color: #199fb1;
  background-color: #f4f2f2;
  padding: 1.5rem;
}

.navbar__link:hover {
  color: #fff;
  background-color: #199fb1;
}

.navbar__link:focus {
  color: white;
}

.user-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.user-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-projects__area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 0 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.user-projects__area--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f0eeee;
}

.user-projects__area--title h2 {
  margin-right: auto;
}

.project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border: 1px solid #0d5c75;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.project-details__title {
  font-weight: 500;
  text-decoration: none;
  color: #0d5c75;
  margin-right: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.project-details__title:hover {
  color: #199fb1;
}

.sidebar {
  background-color: #394d5f;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: .5rem;
}

.side-nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #199fb1;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(0, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(0, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(0, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(0, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.side-nav__item:hover::before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__item:active::before {
  background-color: #199fb1;
}

.side-nav__link:link, .side-nav__link:visited {
  color: #faf9f9;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}

.side-nav button {
  margin: auto 2rem 2rem;
}

.project-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2rem;
  margin: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f0eeee;
  color: #0d5c75;
}

.project-title #project-id {
  display: none;
}

.project-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem;
  height: 80vh;
}

.general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.general__section {
  margin-bottom: 2rem;
}

.general__multisection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.general__heading {
  color: #0d5c75;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  border-bottom: 2px solid #f0eeee;
}

.general__weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
  padding: 2rem;
}

.general__weather--description {
  margin-bottom: 2rem;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
  margin: 0 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #394d5f;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.section__records {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  margin-bottom: 2rem;
}

.section__new-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: auto;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  border-radius: 1rem;
  background-color: #fff;
  border: 1px solid #394d5f;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  overflow-y: auto;
}

.details__title {
  color: #074b5f;
  font-weight: 500;
  margin-bottom: 1rem;
  border-bottom: 2px solid #f0eeee;
  text-transform: capitalize;
}

.details__metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.details__data {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.details__table {
  margin-bottom: 1rem;
}

.details__table tr,
.details__table td {
  padding: .3rem;
  background-color: #faf9f9;
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 1.3rem;
}

.details__table td:nth-child(1) {
  width: 20%;
}

.details__subheading {
  margin-bottom: .3rem;
}

.details__field-name {
  color: #0d5c75;
}

table,
tr,
td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  font-size: 1.3rem;
}

.details-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  color: #0d5c75;
}

.record {
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #394d5f;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
          box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.record:hover {
  border: 2px solid #eb2f64;
}

.record__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: .5rem;
  border-bottom: 1px solid #0d5c75;
  margin-bottom: .5rem;
}

.record__heading h4 {
  color: #074b5f;
  text-transform: capitalize;
  font-weight: 500;
  margin-right: auto;
}

.record__heading h4:hover {
  cursor: pointer;
  color: #0d5c75;
}

.record__summary {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record__summary--data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.record__summary--data:not(:last-of-type) {
  padding-right: 1rem;
  border-right: 1px solid #0d5c75;
}

.record__summary--data:not(:first-of-type) {
  padding-left: 1rem;
}

.record__summary--data span {
  font-weight: 500;
  text-transform: uppercase;
  color: #199fb1;
  margin-right: .5rem;
}

.admin-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.admin-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.form {
  font-family: 'Robot', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.form__title {
  color: #0d5c75;
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f0eeee;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.form__item--15 {
  width: 15%;
  margin-left: 1rem;
}

.form__item--25 {
  width: 25%;
  margin-right: 1rem;
}

.form__item--50 {
  width: 50%;
  margin-right: 1rem;
}

.form__item--75 {
  width: 75%;
  margin-right: 1rem;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5rem;
}

.form__label {
  color: #394d5f;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.form__field {
  height: 3rem;
}

.form__textarea {
  height: 12rem;
}

.button {
  font-family: 'Roboto', sans-serif;
  padding: .6rem 1.2rem;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: .5rem;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #0d5c75;
  border: 2px solid #0d5c75;
}

.btn-primary:hover {
  color: #394d5f;
  background-color: #fff;
  border: 2px solid #0d5c75;
}

.btn-primary-clear {
  color: #394d5f;
  background-color: #fff;
  border: 2px solid #0d5c75;
}

.btn-primary-clear:hover {
  color: #fff;
  background-color: #0d5c75;
  border: 2px solid #0d5c75;
}

.btn-secondary {
  color: #fff;
  background-color: pink;
}

.btn-secondary:hover {
  background-color: yellow;
}

.btn-tertiary {
  color: pink;
  background-color: #708090;
}

.icon {
  width: 1.75rem;
  height: 1.75rem;
}

.icon:hover {
  cursor: pointer;
}

.icon-edit {
  fill: #0d5c75;
}

.icon-delete {
  fill: #c81515;
  margin-right: 1.5rem;
}

.icon-exit {
  fill: #000;
  background-color: #f4f2f2;
}

.icon-exit:hover {
  width: 2rem;
  height: 2rem;
  fill: red;
  scale: 1.1;
}

/* #################### MODAL ####################  */
.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 250ms opacity ease-in;
  transition: 250ms opacity ease-in;
}

.modal__container {
  background-color: white;
  width: 33%;
  -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
  gap: .5rem;
}

.modal-visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 10;
}

.is-hidden {
  display: none;
}

.selected {
  border: 2px solid #eb2f64;
}
/*# sourceMappingURL=styles.css.map */