$color-white: #fff;
$color-black: #000;
$color-dark: #0b1320;
$color-light: #fef9e6;

$color-primary-0: hsl(187, 75%, 40%);
$color-primary-1: hsl(194, 80%, 25%);
$color-primary-2: hsl(194, 86%, 20%);
$color-primary-3: hsl(208, 25%, 30%);

$color-secondary-1: #eb2f64;
$color-secondary-2: #ff3366;
$color-secondary-3: #ba265d;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #708090;

$shadow-light: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
$shadow-medium: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow-dark: rgba(0, 0, 0, 0.45) 0px 5px 15px;

$line1: 2px solid $color-grey-light-3;
$line2: 2px solid $color-primary-2;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

.master-container {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: .05fr 95fr;
	grid-template-areas: "header" "body";
}

.header {
	grid-area: header;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	background-color: $color-white;
	grid-area: body;
}

.login {
	height: 100%;
	background-size: cover;
	background-position: center;
	background-color: $color-black;
	background-image: linear-gradient(to right, rgba($color-black, .8), rgba($color-primary-0, .8));
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.register {
	height: 100%;
	background-size: cover;
	background-position: center;
	background-color: $color-black;
	background-image: linear-gradient(to right, rgba($color-black, .8), rgba($color-primary-0, .8));
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color-grey-light-1;
	padding: 1.5rem;

	&__logo {
		color: $color-primary-0;
		font-size: 3rem;
		font-weight: 300;
		text-decoration: none;
		margin-right: auto;
	}

	&__list {
		display: flex;
		align-items: center;
		list-style-type: none;

		a {
			text-decoration: none;
			text-transform: uppercase;
			align-self: stretch;
			margin-left: 1.5rem;
			color: $color-primary-0;
			background-color: $color-grey-light-1;
		}

		a:hover {
			color: hsl(187, 75, 50);
		}
	}
}

.footer {
	margin: 0 -1rem;
	position: sticky;
	bottom: 0;
	padding: 1rem;
	justify-self: flex-end;
	margin-top: auto;

	.about-me {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: .5rem;

		a {
			padding: 0 1.5rem;
		}

		&__icon {
			width: 2rem;
			height: 2rem;
			fill: $color-white;

			&:hover {
				transform: translateY(-.3rem);
				fill: $color-secondary-1;
			}
		}
	}
}

//////////////////////////////////////////////////////////////
//USER DASHBOARD
.user-dashboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-color: $color-black;
	background-image: linear-gradient(to right, rgba($color-black, .8), rgba($color-primary-0, .8));
}

.user-details {
	&__name {
		font-size: 3rem;
		text-transform: uppercase;
		text-align: center;
		padding: 2rem 2rem 1rem;
		letter-spacing: .5rem;
		color: white;
	}

	&__company {
		text-align: center;
		text-transform: capitalize;
		color: $color-primary-1;
		color: white;
	}
}

.user-projects {
	display: flex;
	justify-content: center;
	min-width: 50%;
	height: 100%;

	&__area {
		flex: 1 1 50%;
		margin: 3rem 2rem 3rem;
		padding: 2rem;
		border-radius: 1rem;
		box-shadow: $shadow-dark;
		background-color: white;

		&--title {
			text-transform: uppercase;
			display: flex;
			align-items: center;
			margin-bottom: 1.5rem;
			padding-bottom: 1rem;
			border-bottom: $line2;

			h2 {
				margin-right: auto;
			}
		}
	}
	p {
		font-weight: 500;
		color: $color-primary-1;
		margin-bottom: 1.5rem;
	}
}

.project-details {
	display: flex;
	align-items: center;
	padding: 1rem;
	border: 1px solid $color-primary-1;
	border-radius: 5px;
	margin-bottom: 2rem;
	box-shadow: $shadow-medium;

	&__title {
		font-weight: 500;
		text-decoration: none;
		color: $color-primary-0;
		margin-right: auto;
		flex: 1 1;

		&:hover {
			color: $color-primary-1;
		}
	}
}

//////////////////////////////////////////////////////////////
//SIDE BAR & NAV

.mobile-menu {
	display: none;
}

.sidebar {
	background-color: $color-primary-3;
	flex: 0 0 18%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 1rem;
	box-shadow: $shadow-medium;
}

.side-nav {
	font-size: 1.4rem;
	list-style: none;
	margin-top: 3.5rem;

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: .5rem;
		}
	}

	&__item::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		background-color: $color-primary-0;
		transform: scaleY(0);
		transition: transform .2s, width .4s cubic-bezier(0, 0, 0, 1) .2s, background-color .1s; //the transform origin is by default middle
		transform-origin: bottom;
	}

	&__item:hover::before,
	&__item--active::before {
		transform: scaleY(1);
		width: 100%;
	}
	&__item:active::before {
		background-color: $color-primary-0;
	}
	&__link:link,
	&__link:visited {
		color: $color-grey-light-1;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		padding: 1.5rem 3rem;
		position: relative;
		z-index: 10;

		display: flex;
		align-items: center;
	}

	&__icon {
		width: 1.75rem;
		height: 1.75rem;
		margin-right: 2rem;
		fill: currentColor;
	}

	button {
		margin: auto 2rem 2rem;
	}
}

//////////////////////////////////////////////////////////////
//PROJECT DASHBOARD

.project-title {
	font-weight: 700;
	height: 7%;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .2rem;
	margin: 2rem;
	padding-bottom: 1rem;
	border-bottom: $line1;
	color: $color-primary-1;

	#project-id {
		display: none;
	}
}

.project-dashboard {
	display: flex;
	margin: 2rem;
	height: 77vh;
}

.general {
	display: flex;

	&__col--1 {
		width: 75%;
		margin-right: 3rem;
		display: flex;
		flex-direction: column;
	}

	&__col--2 {
		width: 25%;
		display: flex;
		flex-direction: column;
	}

	&__card {
		margin-bottom: 2rem;
		border: 1px solid $color-primary-2;
		border-radius: 1rem;
		box-shadow: $shadow-medium;
	}

	&__heading {
		color: $color-white;
		background-color: $color-primary-1;
		padding: 1.5rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		text-transform: uppercase;
		letter-spacing: .2rem;
		font-weight: 400;
		border-bottom: 3px solid $color-primary-0;
	}

	&__content {
		padding: 1.5rem;
	}

	&__weather {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 0;

		h5 {
			display: flex;
			align-items: center;
		}

		svg {
			width: 1.75rem;
			height: 1.75rem;
			margin-right: .3rem;
			fill: $color-primary-1;
		}

		&--description {
			text-transform: uppercase;
			color: $color-primary-1;
			margin-bottom: 2rem;
		}

		table,
		tr,
		td {
			padding: .3rem 1rem;
			color: #0b1320;
			background-color: $color-grey-light-1;
			border: 1px solid $color-grey-light-4;
			border-collapse: collapse;
			font-size: 1.3rem;
			font-weight: 500;
		}

		&--td {
			text-align: center;
		}
	}
}

.section {
	display: flex;
	flex-direction: column;
	flex: 1 0 40%;
	margin: 0 2rem;
	padding: 1.5rem;
	padding-right: 0;
	border-radius: 1rem;
	box-shadow: $shadow-dark;

	&__records {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		margin-bottom: 2rem;
		padding-right: 1.5rem;
	}

	&__new-record {
		display: flex;
		justify-content: flex-end;
		margin-top: auto;
		margin-right: 1.5rem;
	}
}

.details {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	flex: 1 1 40%;
	border-radius: 1rem;
	box-shadow: $shadow-dark;
	overflow-y: auto;
	font-family: inherit;

	&__title {
		color: $color-primary-2;
		font-weight: 500;
		margin-bottom: 1rem;
		padding-bottom: .5rem;
		border-bottom: $line2;
		text-transform: capitalize;
		text-align: center;
	}

	&__metadata {
		display: flex;
		justify-content: space-between;
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	&__data {
		font-size: 1.5rem;
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;
		overflow-y: auto;
	}

	&__table {
		margin-bottom: 1rem;

		tr,
		td {
			padding: .3rem;
			background-color: $color-grey-light-1;
			border: 1px solid $color-grey-light-4;
			border-collapse: collapse;
			font-size: 1.3rem;
		}

		td:nth-child(1) {
			width: 20%;
		}
	}

	&__subheading {
		margin-bottom: .3rem;
	}

	&__field-name {
		color: $color-primary-1;
	}

	&__file-name {
		color: $color-primary-0;
		text-decoration: none;
		font-weight: 500;
		margin-bottom: 1rem;

		&:hover {
			color: $color-primary-2;
		}
	}
}

.details-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: $color-primary-1;
}

.demo-text-records {
	font-size: 1.3rem;
	text-align: center;
	color: red;
	padding-bottom: 1rem;
}

#demo-text-records {
	font-size: 1.3rem;
	text-align: center;
	color: red;
	// padding-bottom: 1rem;
}

//////////////////////////////////////////////////////////////
//RECORD INFORMATION
.record {
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 2rem;
	border: 1px solid $color-primary-3;
	box-shadow: $shadow-medium;
	transition: all .1s;

	&:hover {
		border: 3px solid $color-secondary-1;
		padding: .8rem;
	}

	&__heading {
		display: flex;
		align-items: center;
		padding-bottom: .5rem;
		border-bottom: 1px solid $color-primary-1;
		margin-bottom: .5rem;

		h4 {
			color: $color-primary-2;
			text-transform: capitalize;
			font-weight: 500;
			margin-right: auto;

			&:hover {
				cursor: pointer;
				color: $color-black;
			}
		}
	}

	&__summary {
		font-size: 1.2rem;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: center;

		&--data {
			display: flex;
			align-items: center;

			&:not(:last-of-type) {
				padding-right: 1rem;
				border-right: 1px solid $color-primary-1;
			}

			&:not(:first-of-type) {
				padding-left: 1rem;
			}

			span {
				font-weight: 500;
				text-transform: uppercase;
				color: $color-primary-0;
				margin-right: .5rem;
			}
		}
	}
}

.selected {
	border: 3px solid $color-secondary-1;
	padding: .8rem;
}

//////////////////////////////////////////////////////////////
//LOGIN AND REGISTER
.admin-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.admin-form {
	display: flex;
	flex-direction: column;
	width: 25%;
	padding: 2.4rem;
	background-color: $color-white;
	border-radius: 1rem;
	box-shadow: $shadow-dark;
}

//////////////////////////////////////////////////////////////
//MODAL FORM
.form {
	font-family: 'Robot', sans-serif;
	display: flex;
	flex-direction: column;
	padding: 2.4rem;
	padding-right: 0;

	&__title {
		color: $color-primary-2;
		text-transform: uppercase;
		font-weight: 500;
		text-align: center;
		margin-bottom: 1.6rem;
		padding-bottom: .5rem;
		border-bottom: $line2;
		margin-right: 2.4rem;
		padding-bottom: 1rem;
	}

	&__main-content {
		height: 70vh;
		overflow-y: auto;
		padding-right: 2.4rem;
	}

	&__row {
		display: flex;
		width: 100%;
	}

	&__group {
		display: flex;
		flex-direction: column;
		margin: 0 .5rem 1.4rem;
	}

	&__item {
		&--15 {
			width: 15%;
		}

		&--25 {
			width: 25%;
		}

		&--50 {
			width: 50%;
		}

		&--75 {
			width: 75%;
		}

		&--85 {
			width: 85%;
		}

		&--100 {
			width: 100%;
		}
	}

	&__label {
		color: $color-primary-2;
		font-size: 1.4rem;
		font-weight: 400;
		margin-bottom: .8rem;
	}

	&__help-text {
		font: inherit;
		font-size: 1.4rem;
		color: hsl(0, 100, 48%);
		margin-top: 1rem;
	}

	&__error {
		font-size: 1.2rem;
		color: hsl(0, 100, 48%);
	}
	&__entry-validation {
		font-size: 1.5rem;
		margin-bottom: .5rem;
		text-align: center;
		color: hsl(0, 100, 48%);
	}

	&__required {
		color: hsl(0, 100, 48%);
	}

	&__field,
	&__textarea {
		background-color: $color-white;
		padding: .5em;
		font-size: inherit;
		font-weight: 400;
		line-height: inherit;
		border: 1px solid #aaa;
		border-radius: .2em;
		outline: none;
		cursor: pointer;
		transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	}

	&__field:focus,
	&__textarea:focus {
		background-color: $color-white;
		border: 1px solid $color-primary-0;
		box-shadow: 0 0 5px 0 $color-primary-0;
	}

	&__textarea {
		height: 15rem;
		resize: vertical;
		min-height: 75px;
		max-height: 200px;
	}
}

//////////////////////////////////////////////////////////////
//BUTTONS
.button {
	font-size: inherit;
	font-family: 'Roboto', sans-serif;
	padding: .6rem 1.2rem;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 10rem;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .2s;
}

.btn-primary {
	color: $color-white;
	background-color: $color-primary-1;
	border: 2px solid $color-primary-1;

	&:hover,
	&:focus {
		color: $color-primary-3;
		background-color: $color-white;
	}
}

.btn-primary-clear {
	color: $color-primary-3;
	background-color: $color-white;
	border: 2px solid $color-primary-1;
	margin-left: 1rem;

	&:hover,
	&:focus {
		color: $color-white;
		background-color: $color-primary-1;
	}
}

.btn-secondary {
	color: $color-white;
	background-color: $color-secondary-2;

	&:hover {
		background-color: $color-secondary-3;
	}
}

.btn-tertiary-clear {
	color: $color-primary-3;
	background-color: $color-white;

	&:hover,
	&:focus {
		color: $color-white;
		background-color: $color-primary-3;
	}
}

.button:hover {
	transform: translateY(-.3rem);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.button:active {
	transform: translateY(-.1rem);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

//////////////////////////////////////////////////////////////
//ICONS
.icon {
	width: 1.75rem;
	height: 1.75rem;
	transition: all .2s;

	&:hover {
		cursor: pointer;
		transform: translateY(-.3rem);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
	}

	&:active {
		transform: translateY(-.1rem);
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
	}

	&-edit {
		fill: $color-primary-1;
	}

	&-delete {
		fill: rgb(200, 21, 21);
		margin-right: 1.5rem;
	}
}

/* #################### MODAL ####################  */
//////////////////////////////////////////////////////////////
//MODAL
.modal {
	width: 100%;
	height: 100%;
	background-color: rgba($color-primary-3, .7);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: 250ms opacity ease-in;

	&__container {
		flex: 1 0;
		background-color: white;
		max-width: 60%;
		box-shadow: $shadow-dark;
		border-radius: 1rem;
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		margin-top: 1rem;
		gap: .5rem;
		padding-top: 1.5rem;
		border-top: $line2;
		margin-right: 2.4rem;
	}

	&-visible {
		opacity: 1;
		pointer-events: auto;
		z-index: 10;
	}
}

.is-hidden {
	display: none;
}

.landing {
	&__heading {
		font-size: 6rem;
		font-weight: 700;
		font-family: 'Merriweather', serif;
		letter-spacing: 2.5rem;
		text-align: center;
		margin-right: -2rem;
		margin-top: 15rem;
	}
	&__subheading {
		font-size: 2rem;
		margin-bottom: 2rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		padding-top: 1rem;
		border-top: 1.5px solid $color-white;
	}

	&__description {
		font-family: 'Roboto', sans-serif;
		font-size: 1.6rem;
		letter-spacing: .1rem;
		margin-bottom: 3rem;
		text-align: center;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		margin-top: 3rem;

		a {
			margin-right: 2rem;
		}
	}
}

.feature {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	transition: all .2s;

	&__icon {
		display: flex;
		width: 3rem;
		height: 3rem;
		margin-right: 3rem;
		fill: $color-white;
	}
}

.grid-container {
	display: grid;
	height: 100%;
	grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: "g0 g1 g1 g1 g1 g2 g2" "g0 g1 g1 g1 g1 g2 g2" "g0 g3 g3 g4 g4 g2 g2" "g0 g3 g3 g5 g5 g5 g5";
	grid-gap: .5rem;
}

.g0 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 3rem;
	padding-bottom: 1rem;
	color: $color-white;
	grid-area: g0;
	background-size: cover;
	background-position: center;
	background-color: $color-black;
	background-image: linear-gradient(to right, rgba($color-primary-2, .8), rgba($color-primary-0, .8));
}

.g1 {
	grid-area: g1;
	background-size: cover;
	background-position: center;
	background-image: url(https://images.unsplash.com/photo-1621606016243-f7b15bd78e76?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z29sZGVuJTIwZ2F0ZSUyMGJyaWRnZSUyMGNvbnN0cnVjdGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1800&q=60);
}
.g2 {
	grid-area: g2;
	background-size: cover;
	background-position: center;
	background-image: url(https://images.unsplash.com/photo-1536895058696-a69b1c7ba34f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Y29uc3RydWN0aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1800&q=60);
}
.g3 {
	grid-area: g3;
	background-size: cover;
	background-position: center;
	background-image: url(https://images.unsplash.com/photo-1575971637203-d6255d9947a9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODl8fGNvbnN0cnVjdGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
}
.g4 {
	grid-area: g4;
	background-size: cover;
	background-position: center;
	background-image: url(https://images.unsplash.com/photo-1523660778745-247ed0bcce31?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTM2fHxjb25zdHJ1Y3Rpb258ZW58MHwwfDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1800&q=60);
}
.g5 {
	grid-area: g5;
	background-size: cover;
	background-position: top;
	background-image: url(https://images.unsplash.com/photo-1610551675799-50d4d0fe0252?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29uc3RydWN0aW9ufGVufDB8MnwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
}

.file-name {
	font-weight: bold;
	color: black;
}

.error {
	height: 100%;
	background-image: linear-gradient(to right, rgba($color-primary-2, .8), rgba($color-primary-0, .8)),
		url(https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8c2FkJTIwcHVwcHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
	background-size: cover;
	background-position: center;

	&__message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100%;
		padding: 5rem;
		color: white;
	}

	h1 {
		font-size: 10rem;
		letter-spacing: 1rem;
	}
	p {
		font-size: 3rem;
		letter-spacing: 1rem;
	}
}

@media screen and (max-width: 800px) {
	body {
		font-size: 1.3rem;
	}
	.nav {
		padding: 1.2rem 1.8rem;

		&__list {
			font-size: 1.5rem;
		}
	}
	.grid-container {
		display: flex;
		height: 100%;
	}
	.g1,
	.g2,
	.g3,
	.g4,
	.g5 {
		display: none;
	}

	.landing {
		&__heading {
			margin-top: 0;
		}
	}

	.login {
		padding: 4rem;
		clip-path: none;
	}

	.register {
		padding: 4rem;
		clip-path: none;
	}

	.admin-form {
		width: 100%;
	}

	.modal__container {
		max-width: 90%;
		max-height: 40vh; //fixed
	}

	.form {
		&__main-content {
			// height: 70%; //testing
			overflow-y: auto;
			padding-right: 2.4rem;
		}
	}

	//USER DASHBOARD
	.user-details {
		&__name {
			font-size: 2rem;
			padding: 2rem 2rem 1rem;
		}

		&__company {
			letter-spacing: .1rem;
		}
	}
	.user-projects {
		height: initial;
	}
	//Project Dashboard

	.project-title {
		letter-spacing: none;
		font-size: 1.1rem;
		margin-bottom: 0;
	}

	.project-dashboard {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		height: 100%;
	}

	.sidebar {
		display: none;
	}

	//MOBILE MENU
	.mobile-menu {
		display: flex;
		background-color: $color-primary-3;
	}

	.side-nav {
		margin: 0;
		display: flex;
		justify-content: space-evenly;

		&__item {
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
		&__icon {
			margin-right: 0rem;
		}
	}

	.section {
		display: flex;
		flex-direction: column;
		flex: 0 0 100%;
		padding-right: 0;

		width: 100%;
		margin: 2rem;
		padding: 1rem;
		height: 50vh;

		&__records {
			display: flex;
			flex-direction: column;
			overflow-y: auto;
			margin-bottom: 2rem;
			padding-right: 0;
		}

		&__new-record {
			justify-content: center;
			margin: 0 -1rem;
			position: sticky;
			bottom: 0;
			background-color: rgba($color-primary-0, .6);
			padding: 1rem;
			margin-top: auto;
		}
	}

	.modal__container {
		width: 90%;
	}

	.details {
		display: none;
	}

	.general {
		flex-direction: column;
		&__col--1 {
			width: 100%;
			margin-right: 0;
			display: flex;
			flex-direction: column;
		}
		&__col--2 {
			width: 100%;
			display: flex;
			flex-direction: column;
		}
	}

	.error {
		&__message {
			padding-top: 10rem;
			justify-content: flex-start;
		}

		h1 {
			font-size: 5rem;
			letter-spacing: .5rem;
		}
		p {
			font-size: 1.5rem;
			letter-spacing: .5rem;
		}
	}
}
