// #60E3D5
// #0567AB
// #0B1320

$color-white: #fff;
$color-black: #000;
$color-dark: #0b1320;
$color-light: #fef9e6;

$color-primary-0: #199fb1;
$color-primary-1: #a5d1e1;
$color-primary-2: #0d5c75;
$color-primary-3: #394d5f;

$color-secondary-1: #a5d1e1;
$color-secondary-2: #199fb1;
$color-secondary-3: #0d5c75;

$color-tertiary-1: #eb2f64;
$color-tertiary-2: #ff3366;
$color-tertiary-3: #ba265d;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
$shadow-light-2: 0 2rem 5rem rgba(0, 0, 0, .06);
$shadow-light-G1: 0 0 0 2px rgba(26, 115, 232, .4);
$shadow-light-1: 0 1px 6px 0 rgba(32, 33, 36, .28);
$line: 2px solid $color-grey-light-3;
$line2: 2px solid $color-grey-light-3;
$line3: 2px solid $color-grey-light-3;
$line4: 2px solid $color-grey-light-3;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	height: 100vh;
	background-color: $color-white;
}

.navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: $color-grey-light-1;
	position: relative;
	// border-bottom: 1px solid $color-primary-light;

	&__logo {
		color: $color-primary-0;
		font-size: 3rem;
		font-weight: 300;
		text-decoration: none;
		margin-right: auto;
		padding: 1.5rem;
	}

	&__link {
		display: flex;
		align-items: center;
		align-self: stretch;
		text-transform: uppercase;
		text-decoration: none;
		color: $color-primary-0;
		background-color: $color-grey-light-2;
		padding: 1.5rem;
		&:not(:last-of-type) {
		}
		&:hover {
			color: $color-white;
			background-color: $color-primary-0;
		}
		&:focus {
			color: white;
		}
	}
}

/* #################### User Dashboard ####################  */

.user-dashboard {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.user-profile {
	margin: 2rem 2rem;
	border-bottom: $line;
}

.user-projects {
	display: flex;
	justify-content: center;

	&__area {
		flex: 1 1 50%;
		margin: 0 2rem;
		padding: 2rem;
		border-radius: 1rem;
		background-color: $color-grey-light-1;
		box-shadow: $shadow-dark;

		&--title {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
			padding-bottom: 1rem;
			border-bottom: 1px solid $color-grey-light-3;

			h2 {
				margin-right: auto;
			}
		}
	}
}

.user-project-info {
	display: flex;
	align-items: center;
	color: $color-black;
	background-color: $color-primary-0;
	padding: 1rem;
	border-radius: 5px;
	margin-bottom: 2rem;

	&__data {
		flex: 1 0;
	}

	&__buttons {
		flex: 0 0;
	}
}

/* #################### Project Dashboard ####################  */

.project-title {
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin: 2rem;
	padding-bottom: 1rem;
	border-bottom: $line;
	color: $color-primary-2;

	#project-id {
		display: none;
	}
}

.sidebar {
	background-color: $color-primary-3;

	flex: 0 0 18%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.side-nav {
	font-size: 1.4rem;
	list-style: none;
	margin-top: 3.5rem;

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: .5rem;
		}
	}

	&__item::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 3px;
		background-color: $color-primary-0;
		transform: scaleY(0);
		transition: transform .2s, width .4s cubic-bezier(0, 0, 0, 1) .2s, background-color .1s; //the transform origin is by default middle
		transform-origin: bottom;
	}

	&__item:hover::before,
	&__item--active::before {
		transform: scaleY(1);
		width: 100%;
	}
	&__item:active::before {
		background-color: $color-primary-0;
	}
	&__link:link,
	&__link:visited {
		color: $color-grey-light-1;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		padding: 1.5rem 3rem;
		position: relative;
		z-index: 10; //z index only works if we have a postion specified

		display: flex;
		align-items: center;
	}

	&__icon {
		width: 1.75rem;
		height: 1.75rem;
		margin-right: 2rem;
		fill: currentColor;
	}

	button {
		margin: auto 2rem 2rem;
	}
}

.project-dashboard {
	display: flex;
	margin: 2rem;
	height: 80vh;

	&__data {
		display: flex;
		flex: 1 0 40%;
		flex-direction: column;
		margin: 0 2rem;
		padding: 1.5rem;
		border-radius: 1rem;
		border: 1px solid #394d5f;
	}

	&__details {
		display: flex;
		flex: 1 1 40%;
		border-radius: 1rem;
		background-color: $color-grey-light-2;
	}
}

.section-data {
	padding-right: 2rem;
	overflow-y: auto;
	section:nth-child(even) {
		background-color: $color-grey-light-1;
	}
}

.record {
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 2rem;
	border: 1px solid $color-primary-3;
	box-shadow: $shadow-light-1;

	&__heading {
		display: flex;
		align-items: center;
		padding-bottom: .5rem;
		border-bottom: 1px solid $color-primary-3;
		margin-bottom: .5rem;

		h4 {
			font-weight: 500;
			margin-right: auto;
		}
	}

	&__summary {
		font-size: 1rem;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: center;

		&--data {
			display: flex;
			align-items: center;
			margin-right: 1rem;

			span {
				text-transform: uppercase;
				color: $color-black;
				background-color: $color-primary-1;
				padding: .5rem 2rem;
				margin-right: .5rem;
				border-radius: 2rem;
			}
		}

		button {
			margin-left: auto;
		}
	}

	&__details {
		margin-top: 1rem;
		// display: none;
		h5 {
			font-weight: 500;
			color: $color-primary-3;
			margin-bottom: 1rem;
		}
	}
}

.record-btn {
	margin-right: 1rem;
}
//////////////////////////////////////////////////////////////
//LOGIN AND REGISTER
.admin-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.admin-form {
	display: flex;
	flex-direction: column;
	width: 25%;
	padding: 2rem;
	background-color: $color-white;
	border-radius: 1rem;
	box-shadow: $shadow-dark;
}

//////////////////////////////////////////////////////////////
//MODAL FORM
.form {
	font-family: 'Robot', sans-serif;
	display: flex;
	flex-direction: column;
	padding: 2rem;

	&__title {
		text-align: center;
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 2px solid gray;
	}

	&__group {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.5rem;
	}

	&__label {
		font-weight: 300;
		margin-bottom: .5rem;
	}

	&__field {
		height: 3rem;
	}
	&__textarea {
		height: 12rem;
	}
}

/* #################### BUTTONS ####################  */

.button {
	font-family: 'Roboto', sans-serif;
	padding: .6rem 1.2rem;
	outline: none;
	font-size: 1.5rem;
	cursor: pointer;
	border-radius: .5rem;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-primary {
	color: $color-white;
	background-color: $color-primary-3;

	&:hover {
	}
}

.btn-primary-clear {
	color: $color-primary-3;
	background-color: transparent;
	border: 1px solid $color-primary-3;

	&:hover {
	}
}

.btn-secondary {
	color: $color-white;
	background-color: $color-secondary-2;

	&:hover {
		background-color: $color-secondary-3;
	}
}

.btn-tertiary {
	color: $color-secondary-2;
	background-color: $color-grey-dark-3;
}

.icon {
	padding: .6rem 1.2rem;
	cursor: pointer;
	background-color: transparent;
	border: none;
	i {
	}
}

.icon-delete {
	color: #ff0000;

	:hover {
	}
}

.icon-edit {
	color: $color-primary-3;
}

.icon-info {
	color: $color-secondary-2;
	border: 1px solid $color-secondary-2;
	border-radius: .5rem;
}

/* #################### MODAL ####################  */
.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: 250ms opacity ease-in;

	&__container {
		background-color: white;
		width: 33%;
		box-shadow: $shadow-dark;
		border-radius: 1rem;

		&--close {
			display: flex;
			justify-content: flex-end;
			margin: 1rem 2rem -2rem;
		}
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		margin-top: 1rem;
		gap: .5rem;
	}

	&-visible {
		opacity: 1;
		pointer-events: auto;
		z-index: 10;
	}
}

.is-hidden {
	display: none;
}

.is-active {
	color: $color-primary-2;
	background-color: $color-white;
}
