{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="user-dashboard">
    <div class="user-profile">
    </div>
    <div class="user-projects">
        <div class="user-projects__area">
            <div class="user-projects__area--title">
                <h2>Owner Projects</h2>
                <a class=" button btn-secondary" href="/project">create</a>
            </div>
            {% for project in projects %}
            <div class="user-project-info">
                <div class="user-project-info__data">
                    <h3>{{project.name}}</h3>
                    <h5>Project Manager:</h5>
                    <h5>Construction Budget: ${{project.budget}}</h5>
                </div>
                <div class="user-project-info__buttons">
                    <a class="button btn-primary" href="/project/{{project.id}}">manage</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="user-projects__area">
            <h2>Member Projects</h2>
        </div>
    </div>




   
</div>
{% endblock %}
