{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="heading">
    <div class="heading__content">
        <h1 class="heading__title">FLUID</h1>
        <p>A user friednly construction management application that allows teams to seamlessly track various construction documents. Icluding RFI's, Submittals, Change Orders, and Inspection Reports.</p>
        <div class="heading__buttons">
            <a href="" class="btn btn-primary-clear">Register</a>
        </div>
    </div>
</div>



{% endblock %} 