{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="grid-container">
        <div class="g1">
            <div class="landing-page">
                <h1 class="landing-page__title">FLUID</h1>
                <p>Fluid allows project teams to effectively manage small to mid-size construction projects; by allowing users to seamlessly upload and track Request for Information (RFI's), Submittals, Change Orders, and Inspection Reports.</p>
                <div class="landing-page__button">
                    <a href="" class="button btn-primary">Demo the app</a>
                    <a href="" class="button btn-primary">Register</a>
                </div>
            </div>
        </div>
        <div class="g2"></div>
        <div class="g3"></div>
        <div class="g4"></div>
        <div class="g5"></div>
    </div>
{% endblock %} 