{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="admin-container">
    <form action="/login" method="POST" class="admin-form">
    <h3 class="form-title">Login</h3>
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
        {{field.label(class_='form-label')}}
        {{field(class_='form-field')}}
        
        {% for error in field.errors %}
            {{error(class_='form-error')}}
        {% endfor %}
        {% endfor %}
        <button class="button btn-primary">login</button>
    </form>
</div>

{% endblock %} 
