{% extends 'base.html' %}

{% block content %}
<div class="project-title">
    <h1>{{project.name}} - ({{project.cip_id}})</h1>
    <p id="project-id">{{project.id}}</p>
</div>
<div class="project-dashboard">
    <nav class="sidebar">
        <ul class="side-nav">
            <li class="side-nav__item">
                <a href="" class="side-nav__link">
                    <svg class="side-nav__icon">
                        <use xlink:href="/static/img/sprite.svg#icon-home"></use>
                        <span>Home</span>
                    </svg>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="" class="side-nav__link">
                    <svg class="side-nav__icon">
                        <use xlink:href="/static/img/sprite.svg#icon-help"></use>
                        <span>RFIS</span>
                    </svg>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="" class="side-nav__link">
                    <svg class="side-nav__icon">
                        <use xlink:href="/static/img/sprite.svg#icon-new-message"></use>
                        <span>Submittals</span>
                    </svg>
                </a>
            </li>
            <li class="side-nav__item">
                <a href="" class="side-nav__link">
                    <svg class="side-nav__icon">
                        <use xlink:href="/static/img/sprite.svg#icon-credit"></use>
                        <span>Change Orders</span>
                    </svg>
                </a>
            </li>
            <li class="side-nav__item">
                <a id="menu-item-5" href="" class="side-nav__link" data-section='inspection'>
                    <svg class="side-nav__icon">
                        <use xlink:href="/static/img/sprite.svg#icon-man"></use>
                        <span>Inspections</span>
                    </svg>
                </a>
            </li>
         
        </ul>
    </nav>
  
  
  
  
    <!-- <nav id="menu" class="side-nav">
        <a id="menu-item-1"  class="side-nav__link"  data-section='general'><i class="fas fa-home"></i>General</a>
        <a id="menu-item-2"  class="side-nav__link"  data-section='rfi' ><i class="fas fa-question"></i>RFIs</a>
        <a id="menu-item-3"  class="side-nav__link"  data-section='submittal' ><i class="fas fa-file-alt"></i>Submittals</a>
        <a id="menu-item-4"  class="side-nav__link"  data-section='change_order'><i class="fas fa-comment-dollar"></i>Change Orders</a>
        <a id="menu-item-5"  class="side-nav__link"  data-section='inspection'><i class="fas fa-shoe-prints"></i>Inspections</a>
        <button id="modal-open" class="button btn-secondary is-hidden" data-btn="create">New Record</button>
    </nav> -->
    <div id="content" class="project-dashboard__data">
       
        <!-- RFI SECTION     -->
        <div id="rfi" class="section-data is-hidden">
            {% for record in project.rfis %}
            <div id="rfi-{{record.id}}" class="record">
                <div class="record__heading">
                    <h4 id="rfi-number-{{record.id}}">{{record.number}}</h4>
                    <h4 id="rfi-title-{{record.id}}">{{record.title}}</h4>
                    <button class="icon icon-delete" data-btn="delete" data-id="{{record.id}}"><i class="fas fa-trash-alt"></i></button>
                    <button class="icon icon-edit" data-btn="edit" data-id="{{record.id}}"><i class="fas fa-pen"></i></button>
                </div>
                <div class="record__summary">
                    <div class="record__summary--data">
                        <span>Author</span> 
                        <p id="rfi-author-{{record.id}}" >{{record.author}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Company</span> 
                        <p id="rfi-company-{{record.id}}" >{{record.company}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Due Date</span> 
                        <p id="rfi-date-{{record.id}}" >{{record.due_date}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Status</span> 
                        <p id="rfi-status-{{record.id}}" >{{record.status}}</p>
                    </div>
                    <button class="icon icon-info"><i class="fas fa-caret-down"></i></button>
                </div>
                <div class="record__details">
                    <h5>DESCRIPTION:</h5>
                    <p id="rfi-description-{{record.id}}">{{record.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- INSPECTION SECTION -->
        <div id="inspection" class="section-data is-hidden">
            {% for record in project.inspection_reports %}
            <div id="inspection-{{record.id}}" class="record">
                <div class="record__heading">
                    <h4 id="inspection-title-{{record.id}}">{{record.title}}</h4>
                    <button class="icon icon-delete" data-btn="delete" data-id="{{record.id}}"><i class="fas fa-trash-alt"></i></button>
                    <button class="icon icon-edit" data-btn="edit" data-id="{{record.id}}"><i class="fas fa-pen"></i></button>
                </div>
                <div class="record__summary">
                    <div class="record__summary--data">
                        <span>Date</span> 
                        <p id="inspection-date-{{record.id}}" >{{record.date}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Inspector</span> 
                        <p id="inspection-inspector-{{record.id}}" >{{record.inspector}}</p>
                    </div>
                    <button class="icon icon-info"><i class="fas fa-caret-down"></i></button>
                </div>
                <div class="record__details">
                    <h5>DESCRIPTION:</h5>
                    <p id="inspection-description-{{record.id}}">{{record.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    <div id="details" class="project-dashboard__details">

    </div>
     <div id="modal" class="modal">
        <div class="modal__container">
            <div id="modal-form" class="form">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
 <script src="/static/js/functions.js" defer></script>
<script src="/static/js/app.js" defer></script>
{% endblock %}
 