{% extends 'base.html' %}

{% block content %}
<div class="project-title">
    <h1>{{project.name}} - ({{project.cip_id}})</h1>
    <p id="project-id">{{project.id}}</p>
</div>
<div class="project-dashboard">
    <nav class="sidebar">
        <ul class="side-nav">
            <li class="side-nav__item" id="menu-item-1" data-section='general'>
                <a href="" class="side-nav__link">
                    <svg class="side-nav__icon">
                        <use xlink:href="/static/img/sprite.svg#icon-home"></use>
                        <span>Home</span>
                    </svg>
                </a>
            </li>
            <li class="side-nav__item" id="menu-item-2" data-section='rfi'>
                <a href="" class="side-nav__link">
                    <svg class="side-nav__icon">
                        <use xlink:href="/static/img/sprite.svg#icon-help"></use>
                        <span>RFIS</span>
                    </svg>
                </a>
            </li>
            <li class="side-nav__item" id="menu-item-3" data-section='submittal'>
                <a href="" class="side-nav__link">
                    <svg class="side-nav__icon">
                        <use xlink:href="/static/img/sprite.svg#icon-new-message"></use>
                        <span>Submittals</span>
                    </svg>
                </a>
            </li>
            <li class="side-nav__item" id="menu-item-4" data-section='change_order'>
                <a href="" class="side-nav__link">
                    <svg class="side-nav__icon">
                        <use xlink:href="/static/img/sprite.svg#icon-credit"></use>
                        <span>Change Orders</span>
                    </svg>
                </a>
            </li>
            <li class="side-nav__item" id="menu-item-5" data-section='inspection'>
                <a  href="" class="side-nav__link">
                    <svg class="side-nav__icon">
                        <use xlink:href="/static/img/sprite.svg#icon-man"></use>
                        <span>Inspections</span>
                    </svg>
                </a>
            </li>
        </ul>
        <button id="modal-open" class="button btn-secondary is-hidden" data-btn="create">New Record</button>
    </nav>
    <div id="content" class="project-dashboard__data">

        <!-- GENERAL SECTION -->
        <div id="general" class="section-data">
            <div class="div">
                <h1>Project Address</h1>
                <h1>Project Conditions</h1>
            </div>
            <div class="div">
                <h1>Project Team</h1>
                <h1>Project Overview</h1>
                <h1>Open Items</h1>
            </div>
          
        </div>
       
        <!-- RFI SECTION     -->
        <div id="rfi" class="section-data is-hidden">
            {% for record in project.rfis %}
            <div id="rfi-{{record.id}}" class="record">
                <div class="record__heading">
                    <h4 id="rfi-title-{{record.id}}">{{record.title}}</h4>
                    <a data-action="delete" data-id="{{record.id}}">
                        <svg class="icon icon-delete">
                            <use xlink:href="/static/img/sprite.svg#icon-trash"></use>
                        </svg>
                    </a>
                    <a data-action="edit" data-id="{{record.id}}">
                        <svg class="icon icon-edit">
                            <use xlink:href="/static/img/sprite.svg#icon-pencil"></use>
                        </svg>
                    </a>
                </div>
                <div class="record__summary">
                    <div class="record__summary--data">
                        <span>#</span> 
                        <p id="rfi-number-{{record.id}}" >{{record.number}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Assigned:</span> 
                        <p id="rfi-responsible_company-{{record.id}}" >{{record.responsible_company}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Due Date:</span> 
                        <p id="rfi-due_date-{{record.id}}" >{{record.due_date}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Status:</span> 
                        <p id="rfi-status-{{record.id}}" >{{record.status}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- SUBMITTAL SECTION     -->
        <div id="submittal" class="section-data is-hidden">
            {% for record in project.submittals %}
            <div id="submittal-{{record.id}}" class="record">
                <div class="record__heading">
                    <h4 id="submittal-title-{{record.id}}">{{record.title}}</h4>
                    <a data-action="delete" data-id="{{record.id}}">
                        <svg class="icon icon-delete">
                            <use xlink:href="/static/img/sprite.svg#icon-trash"></use>
                        </svg>
                    </a>
                    <a data-action="edit" data-id="{{record.id}}">
                        <svg class="icon icon-edit">
                            <use xlink:href="/static/img/sprite.svg#icon-pencil"></use>
                        </svg>
                    </a>
                </div>
                <div class="record__summary">
                    <div class="record__summary--data">
                        <span>#</span> 
                        <p id="submittal-number-{{record.id}}" >{{record.number}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Type:</span> 
                        <p id="submittal-type-{{record.id}}" >{{record.type}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Assigned:</span> 
                        <p id="submittal-responsible_company-{{record.id}}" >{{record.responsible_company}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Due Date:</span> 
                        <p id="submittal-due_date-{{record.id}}" >{{record.due_date}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Status:</span> 
                        <p id="submittal-status-{{record.id}}" >{{record.status}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- INSPECTION SECTION -->
        <div id="inspection" class="section-data is-hidden">
            {% for record in project.inspection_reports %}
            <div id="inspection-{{record.id}}" class="record">
                <div class="record__heading">
                    <h4 id="inspection-title-{{record.id}}">{{record.title}}</h4>
                    <a data-action="delete" data-id="{{record.id}}">
                        <svg class="icon icon-delete">
                            <use xlink:href="/static/img/sprite.svg#icon-trash"></use>
                        </svg>
                    </a>
                    <a data-action="edit" data-id="{{record.id}}">
                        <svg class="icon icon-edit">
                            <use xlink:href="/static/img/sprite.svg#icon-pencil"></use>
                        </svg>
                    </a>
                </div>
                <div class="record__summary">
                    <div class="record__summary--data">
                        <span>Date:</span> 
                        <p id="inspection-date-{{record.id}}" >{{record.date}}</p>
                    </div>
                    <div class="record__summary--data">
                        <span>Inspector:</span> 
                        <p id="inspection-inspector-{{record.id}}" >{{record.inspector}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    <div id="details" class="project-dashboard__details">

    </div>
     <div id="modal" class="modal">
        <div class="modal__container">
            <div id="modal-form" class="form">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
 <script src="/static/js/functions.js" defer></script>
<script src="/static/js/app.js" defer></script>
{% endblock %}
 