{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="user-dashboard">
    <div class="user-profile">
        <H1>{{current_user.full_name}}</H1>
    </div>
    <div class="user-projects">
        <div id="testing123" class="user-projects__area">
            <div class="user-projects__area--title">
                <h2>Project Owner</h2>
                <button id="new-project-btn" class=" button btn-secondary">create</button>
            </div>

            {% for project in projects %}
            <div class="project-details">
                <a class="project-details__title" href="/project/{{project.id}}">{{project.name}}</a>
                <a data-action="delete" data-id="{{project.id}}">
                    <svg class="icon icon-delete">
                        <use xlink:href="/static/img/sprite.svg#icon-trash"></use>
                    </svg>
                </a>
                <a data-action="edit" data-id="{{project.id}}">
                    <svg class="icon icon-edit">
                        <use xlink:href="/static/img/sprite.svg#icon-pencil"></use>
                    </svg>
                </a>
            </div>
            {% endfor %}

        </div>
        <div class="user-projects__area">
            <h2>Project Member</h2>
        </div>
    </div>

    <div id="modal" class="modal">
        <div class="modal__container">
            <div id="modal-form" class="form">
            </div>
        </div>
    </div>
   
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/user_dashboard.js" defer></script>
{% endblock %}

      