{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="user-dashboard">
    <h2 class="user-details__name" >{{current_user.full_name}}</h2>
    <h3 class="user-details__company" >({{current_user.company}})</h3>

    <div id="projects-list" class="user-projects">
        <div id="project-owner" class="user-projects__area">
            <div class="user-projects__area--title">
                <h2>My Projects</h2>
                <button id="new-project-btn" class=" button btn-primary">new project</button>
            </div>
            <p>Slect a project to navigate to the project dashboard.</p>

            {% for project in projects %}
            <div id="{{project.id}}" class="project-details">
                <a id="{{project.id}}-title" class="project-details__title" href="/project/{{project.id}}">{{project.name}}</a>
                <a data-action="delete" data-id="{{project.id}}">
                    <svg class="icon icon-delete">
                        <use xlink:href="/static/img/sprite.svg#icon-trash"></use>
                    </svg>
                </a>
                <a data-action="edit" data-id="{{project.id}}">
                    <svg class="icon icon-edit">
                        <use xlink:href="/static/img/sprite.svg#icon-pencil"></use>
                    </svg>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="modal" class="modal">
        <div  class="modal__container">
		    <form action="#" id="modal-form" class="form" n>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/user_dashboard.js" defer></script>
{% endblock %}

      