<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">

    
    <title>Document</title>
</head>
<body>
    <div class="grid-container">
        <div class="g1"></div>
        <div class="g2"></div>
        <div class="g3 heading_content">
            <h1 class="heading__title">FLUID</h1>
            <p>Fluid enable project managers and project members to seamlessly upload and track various construction documents. Icluding RFI's, Submittals, Change Orders, and Inspection Reports.</p>
            <!-- <div class="heading__buttons">
            <a href="" class="btn btn-primary-clear">Register</a>
        </div> -->
        </div>
        <div class="g4"></div>
        <div class="g5"></div>
    </div>
    
</body>
</html>