
{% extends 'base.html' %}

{% block content %}
  <div id="modal" class="modal-visible">
        <div class="modal__container">
            <div id="modal-form" class="form">
                `<h3 class="form__title">Submittals</h3>

                 <div class="form__group">
                    <label for="title" class="form__label">Title</label>
                    <input id="title" type="text" class="form__field" autocomplete="off" value="">
                </div>

                <div class="form__row">
                    <div class="form__group form__item--25">
                        <label for="number" class="form__label">No.</label>
                        <input id="number" type="text" class="form__field" autocomplete="off" value="">
                    </div>

                     <div class="form__group form__item--25">
                        <label for="spec-section" class="form__label">Spec Section</label>
                        <input id="spec-section" type="text" class="form__field" autocomplete="off" value="">
                    </div>

                     <div class="form__group form__item">
                        <label for="type" class="form__label">Type</label>
                        <input id="type" type="text" class="form__field" autocomplete="off" value="">
                    </div>
                </div>
                
                <div class="form__row">
                    <div class="form__group form__item--75">
                        <label for="submittal-person" class="form__label">Submitted By</label>
                        <input id="submittal-person" type="text" class="form__field" autocomplete="off" value="">
                    </div>

                    <div class="form__group form__item">
                        <label for="submittal-date" class="form__label">Submittal Date</label>
                        <input id="submittal-date" type="date" class="form__field" autocomplete="off" value="">
                    </div>
                </div>
                
                <div class="form__group">
                    <label for="submittal-company" class="form__label">Company</label>
                    <input id="submittal-company" type="text" class="form__field" autocomplete="off" value="">
                </div>

                <div class="form__row">
                    <div class="form__group form__item--75">
                        <label for="responsible-person" class="form__label">Assigned To</label>
                        <input id="responsible-person" type="text" class="form__field" autocomplete="off" value="">
                    </div>
                    <div class="form__group form__item">
                        <label for="due_date" class="form__label">Due Date</label>
                        <input id="due_date" type="date" class="form__field" autocomplete="off" value="">
                    </div>
                </div> 
                
                <div class="form__row">
                    <div class="form__group form__item--75">
                        <label for="responsible-company" class="form__label">Company</label>
                        <input id="responsible-company" type="text" class="form__field" autocomplete="off" value="">
                    </div>

                    <div class="form__group form__item">
                        <label for="status" class="form__label">Status</label>
                        <input id="status" type="text" class="form__field" autocomplete="off" value="">
                    </div>
                </div>

                <div class="form__group">
                    <label for="description" class="form__label">Description</label>
                    <textarea id="description" class="form__textarea" cols="30" rows="10"></textarea>
                </div>
                
                <div class="modal__buttons">
                    <button class="button btn-primary" data-action="close">Cancel</button>
                    <button class="button btn-secondary" data-action="submit">Submit</button>
                </div>`
            </div>
        </div>
    </div>

{% endblock %}


		<h3 class="form__title">Project</h3>

        <div class="form__group">
            <label for="project_name" class="form__label">Project Name</label>
            <input id="project_name" type="text" class="form__field">
        </div>

        <div class="form__row">
            <div class="form__group form__item50">
                <label for="project_id" class="form__label">ID</label>
                <input id="project_id" type="text" class="form__field">
            </div>

            <div class="form__group form__item">
                <label for="project_budget" class="form__label">Construction Budget</label>
                <input id="project_budget" type="text" class="form__field">
            </div>
        </div>

         <div class="form__group">
                <label for="street" class="form__label">Street</label>
                <input id="street" type="text" class="form__field">
        </div>

        <div class="form__row">
            <div class="form__group form__item75">
                <label for="city" class="form__label">City</label>
                <input id="city" type="text" class="form__field">
            </div>

            <div class="form__group form__item">
                <label for="zip-code" class="form__label">Zip Code</label>
                <input id="zip-code" type="text" class="form__field">
            </div>
        </div>

        <div class="form__group">
            <label for="project_description" class="form__label">Description</label>
            <textarea id="project_description" class="form__textarea" cols="30" rows="10"></textarea>
        </div>
        <button class="button btn-primary">Create</button>